.header {
    display: flex;
    background-color: rgba(35, 24, 21, 1);
    color: rgba(255, 255, 255, 1);
    height: 40px;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
}

.header .container{
    display: flex;
    justify-content: flex-end;
}
.header .link_menu {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    list-style: none;
}
.header .link_menu:hover{
    text-decoration: underline;
}

.header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px; 
  }

/* @media (max-width: 768px) {
    .header {
        display: none;
    }
} */