/* Общие стили для карточки товара */
.str-price {
    display: flex;
    gap: 20px;
}
.sale .product-card {
    position: relative;
}

/* Стили для старой цены */
.sale .price {
    text-decoration: line-through;
    color: #888;
}

/* Стили для новой цены */
.new-price {
    display: none;
    color: rgba(228, 83, 2, 1);
    font-weight: bold;
}

.sale-banner {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    font-weight: 100;
    padding: 5px 45px;
    border-radius: 19px;
    background-color: rgba(35, 24, 21, 1);
    color: #fff;
    display: none;
    pointer-events: none;
}

.sale .new-price {
    display: block;
}

.sale .sale-banner {
    display: block;
}

@media (max-width: 1600px) {
    .sale-banner {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 16px;
        font-weight: 100;
        padding: 5px 40px;
        border-radius: 19px;
        background-color: rgba(35, 24, 21, 1);
        color: #fff;
        display: none;
        pointer-events: none;
    }
}

@media (max-width: 992px) {
    .sale-banner {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 13px;
        font-weight: 100;
        padding: 2px 20px;
        border-radius: 19px;
        background-color: rgba(35, 24, 21, 1);
        color: #fff;
        display: none;
        pointer-events: none;
    }
}


@media (max-width: 768px) {
    .sale-banner {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 16px;
        font-weight: 100;
        padding: 5px 40px;
        border-radius: 19px;
        background-color: rgba(35, 24, 21, 1);
        color: #fff;
        display: none;
        pointer-events: none;
    }
}
@media (max-width: 390px) {
    .sale-banner {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 16px;
        font-weight: 100;
        padding: 2px 20px;
        border-radius: 19px;
        background-color: rgba(35, 24, 21, 1);
        color: #fff;
        display: none;
        pointer-events: none;
    }
}