.header_main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(35, 24, 21, 1);
    margin-top: 12px;
    margin-bottom: 12px;
}
.list-container{
    justify-content: space-around;
}


.header_main .link_menu {
    color: rgba(35, 24, 21, 1);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;

}

.header_main .link_menu:hover{
    text-decoration: underline;
}
.header_main .logo img{
    width: 217px;
    height: auto;
}
.header_main .nav{
    display: flex;
    width: 700px;
    padding: 0 40px;
}

.header_main .nav ul{
width: 100%;
list-style: none;
display: flex;
justify-content: space-around;
font-size: 30px;
}





.instruments {
    width: 330px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loupe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    background-color: rgba(35, 24, 21, 1);
    border-radius: 86px;
}
.loupe.active {
    background-color: white;
    svg {
        path{
            fill: rgba(35, 24, 21, 1);
        }
    }
}
.icons{
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 50; 
}
.search{
    display: flex;
    align-items: center;
    width: 100px;
    height: 39px;
}

.search_line {
    width: 100px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* display: none; */
    border: none;
    outline: none; /* Убираем обводку при фокусе */
    font-size: 16px;
    display: none;
}
.search_line.active {
    display: block;
}
.cart{
    position: relative;
    margin-left: 20px;
    background-color: rgba(35, 24, 21, 1);
    color: white;
    width: 138px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(35, 24, 21, 1);
    border-radius: 86px;
    cursor: pointer;
    gap: 10px;
}

.cart.active{
    background-color: rgba(0, 0, 0, 1);
}

.cart .count {
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    top: 5px;
    left: 35px;
    color: rgba(35, 24, 21, 1);
    background-color: white;
    width: 18px;
    height: 18px;
    border-radius: 20px;
}

