/* Общие стили для карточки товара */
.str-price {
    display: flex;
    gap: 20px;
}
.sale .product-card {
    position: relative;
}

/* Стили для старой цены */
.sale .price {
    text-decoration: line-through;
    color: #888;
}

/* Стили для новой цены */
.new-price {
    display: none;
    color: rgba(228, 83, 2, 1);
    font-weight: bold;
}

.sale-banner {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(35, 24, 21, 1);
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    padding: 5px 45px;
    border-radius: 19px;
    display: none;
    pointer-events: none;
}

.sale .new-price {
    display: block;
}

.sale .sale-banner {
    display: block;
}